	.Validform_checktip {
		margin-left: 8px;
		line-height: 20px;
		height: 20px;
		overflow: hidden;
		color: #999;
		font-size: 12px;
	}
	
	.Validform_right {
		color: #71b83d;
		padding-left: 20px;
		background: url(img/right.png) no-repeat left center;
	}
	
	.Validform_wrong {
		color: red;
		padding-left: 20px;
		white-space: nowrap;
		background: url(img/error.png) no-repeat left center;
	}
	
	.Validform_loading {
		padding-left: 20px;
		background: url(img/onLoad.gif) no-repeat left center;
	}
	
	.Validform_error {
		background: rgba(255,100,0,0.2);
	}
	
	#Validform_msg {
		color: #7d8289;
		font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
		width: 280px;
		-webkit-box-shadow: 2px 2px 3px #aaa;
		-moz-box-shadow: 2px 2px 3px #aaa;
		background: #fff;
		position: absolute;
		top: 0px;
		right: 50px;
		z-index: 99999;
		display: none;
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');
	}
	
	#Validform_msg .iframe {
		position: absolute;
		left: 0px;
		top: -1px;
		z-index: -1;
	}
	
	#Validform_msg .Validform_title {
		line-height: 25px;
		height: 25px;
		text-align: left;
		font-weight: bold;
		padding: 0 8px;
		color: #fff;
		position: relative;
		background-color: #000;
	}
	
	#Validform_msg a.Validform_close:link,
	#Validform_msg a.Validform_close:visited {
		line-height: 22px;
		position: absolute;
		right: 8px;
		top: 0px;
		color: #fff;
		text-decoration: none;
	}
	
	#Validform_msg a.Validform_close:hover {
		color: #cc0;
	}
	
	#Validform_msg .Validform_info {
		padding: 8px;
		border: 1px solid #000;
		border-top: none;
		text-align: left;
	}
	
	html,body{
		margin: 0;
		padding: 0;
		background: url(../img/bg.jpg) no-repeat;
		background-size: 100%;
		
	}
	
	.wraper {
		margin: 0 auto;
		width: 800px;
		height: 490px;
		text-align: center;
	}
	
	input {
		background: rgba(0, 0, 255, 0.2);
		border-radius: 4px;
		border: 1px solid grey;
		color: black;
		padding: 6px 8px;
		font-size: 14px;
		margin-top: 15px;
	}
	
	.name {
		margin-top: 30px;
	}
	
	button {
		border: 0;
		padding: 6px 8px;
		border: 1px solid grey;
		border-radius: 4px;
		font-size: 14px;
		width: 192px;
		margin: 15px 0;
		color: white;
		background-color: rgba(0, 0, 55, 0.5);
	}
	
	.login {
		background: blue;
	}
	
	.txt {
		border: 1px solid #ccc;
		padding: 2px 20px 2px 5px;
		color: #666;
		position: absolute;
		display: none;
		line-height: 20px;
		background-color: #fff;
	}
	
	.Validform_checktip {
		margin: 4px 0;
		color: yellow;
		/*background: red;*/
		margin: 0;
		margin-left: 304px;
		width: 187px;
		padding-left: 0;
	}
	.Validform_wrong{
		width: 187px;
		background: red;
		margin: 0;
		margin-left: 304px;
		padding-left: 0;
	}
input::-webkit-input-placeholder{
	color: white;
}
